img {
    width: 200px;
    height: auto;
}
.profile-pic {
    float: right;
    width: 100px;
    height: auto;
}
.uploader {
    width: 300px;
    height: 200px;
    border: solid black 2px;
    position: absolute;
    top: 0;
    left: 40%;
    text-align: center;
}
#X {
    text-decoration: none;
    color: black;
}
